.cards{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.card{
  padding: 50px;
  font-weight: lighter;
  width: 200px;
  border-radius: 3px;
  box-shadow: 0 0 5px rgb(230,230,230);
  text-align: center;
  padding: 20px;
  border: 1px solid rgb(230,230,230);
}

#footer a {
  color: lightgrey;
  font-size: 15px;
}
#footer a:hover {
  color: white;
}
